---
import Layout from '../layouts/Layout.astro';
import Cards from "../components/UI/Cards.astro"

---

<Layout title="Pagias de Juegos en Js">
	<main>
    <section class="title">
      <h1 >Bienvenido</h1>
      <h2 >😊</h2>
    </section>
    <section>
      <Cards/>
    </section>
	</main>
</Layout>

<style>
  .title{
    display: block;
    text-align: center;
    font-size: 5rem;
  }
</style>
